* {box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#f4edc0;
}

li,a,button{
    font-family: sans-serif;
    font-weight: 1500;
    font-size: 16px;
    color: grey;

    text-decoration: none;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
}

.logo{
    margin-right:auto;
    
    padding: 0px;
    height: auto;
    width: 70px;
    background-color: transparent;
}
.nav_links{
    list-style: none;
    border-radius: 150px;
    
   
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #f3703c;
}

.bg-div{
    width:100px;
    height: 20px;
    background-color: red;
}
.header{
    background-color: #fdb107;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px;
    margin-top: 10px;
    box-shadow: 5px 5px 8px rgb(0, 0, 0);
}
ul,ul li, ul li a{
    background:#ffffff;
    border-radius: 150px;
    
   
}
ul li {
    margin: 25px 20px 20px 20px;
    
}
/*This code is for navbar*/
